#works {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.worksTittle {
    margin: 1rem 0;
    font-size: 3rem;
}

.worksDesc {
    font-weight: 1rem;
    font-size: 1rem;
}

.worksImgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;
}

.worksImgContainer {
    position: relative;
    overflow: hidden;
    margin: 0.5rem;
}

.worksImg {
    object-fit: cover;
    width: 20rem;
    height: 20rem;
    transition: transform 0.3s ease-in-out;
}

.worksText {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    transform: translateY(100%);
    transform: transform 0.3s ease-in-out;
}

.worksImgContainer:hover .worksImg {
    transform: scale(1.1);
}

.worksImgContainer:hover .worksText {
    transform: translateY(0);
    opacity: 1;
}

.workBtn {
    margin: 3rem 0;
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background: white;
    font-size: 1rem;
}

@media  screen and (max-width:585px) {
    .worksImg {
        height: 48vw;
    }
}

